body{
    max-width: 40%;
    margin: auto;
    background-color: #D7E2E4;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
  }
  #header{
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 35px;
  }
  #contents p, a{
    margin-bottom: 35px;
    color: black;
    text-decoration: none;
  }
  #title{
    color: grey;
    font-size: 12px;
    font-weight: 400;
  }
  #entry-contents{
    line-height: 1.75;
  }
